<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2500">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="text"><h1 class="blog-heading">Welcome to my <span class="text-highlight"><a href="/blog">Tech blog</a><span class="typed-cursor">|</span></span>!!</h1></div>
            <img src="/blog.webp" class="d-block w-100 rounded-circle" alt="...">
        </div>
        <div class="carousel-item">
             <div class="text"><h1 class="blog-heading">Discover the latest <span class="text-highlight">innovations</span> in technology<span class="typed-cursor">|</span></h1></div>
            <img src="/i9.webp" class="d-block w-100 rounded-circle" alt="...">
        </div>
        <div class="carousel-item">
             <div class="text"><h1 class="blog-heading">Explore the <span class="text-highlight">future</span> of tech<span class="typed-cursor">|</span></h1></div>
            <img src="/img2.webp" class="d-block w-100 rounded-circle" alt="...">
        </div>
        <div class="carousel-item">
             <div class="text"><h1 class="blog-heading">Experience <span class="text-highlight">innovation</span> firsthand<span class="typed-cursor">|</span></h1></div>
            <img src="/i6.jpg" class="d-block w-100 rounded-circle" alt="...">
        </div>
        <div class="carousel-item">
             <div class="text"><h1 class="blog-heading">Join us on an <span class="text-highlight">adventure</span> through technology<span class="typed-cursor">|</span></h1></div>
            <img src="/i1.jpg" class="d-block w-100 rounded-circle" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
